
<img src="<%= @current_user.picture %>" alt="">
<h3><%= @current_user.username %></h3>
<h5><%= @current_user.firstname %></h5>
<h5><%= @current_user.lastname %></h5>
<h5><%= @current_user.bio %></h5>

<a href="/user/edit">Update Profile</a>
<a href="/">Home</a>
<a href="/posts/new">New Post</a>
